COMPOSE_PROJECT_NAME=visual-graphics
IMAGE_NAME=visual-graphics-backend

HOST=0.0.0.0
PORT=3000
CONTAINER_PORT=3000
API_PORT=3001
DB_PORT=5435

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-db-password
POSTGRES_DB=visual_graphics
DATABASE_URL=postgresql://postgres:change-this-db-password@db:5432/visual_graphics

JWT_SECRET=change-this-jwt-secret
JWT_EXPIRES_IN=7d
SALT_ROUND=10

PACKAGE_NAME=Vizual Graphics Ltd
FRONTEND_LOGIN_URL=https://your-frontend-domain.com/login
CORS_ORIGINS=https://your-frontend-domain.com,http://localhost:5173

R2_BUCKET_NAME=vizual-graphics
R2_ENDPOINT=https://7a29e9317ecfbd7c4931b0b069e8240e.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=61eb63b62d881fa1a8bf22a92389c0f1
R2_SECRET_ACCESS_KEY=44c69fa29ec2ad60f0d81da0529a238b0e01b51868ba5586e51f663316ad36a8
R2_PUBLIC_BASE_URL=https://pub-bf887a661f614ba6a71ba170f148230b.r2.dev

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mmishrat90@gmail.com
SMTP_PASS=hihl fmfh ocfq dvpq
MAIL_FROM=mmishrat90@gmail.com

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-this-admin-password
ADMIN_FULL_NAME=Admin User
